@page "/create"
@using System.Text.Json;
@using System.Text;
@using ths.Client.Shared.Components.Form
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;

<PageTitle>Adicionar Fornecedor</PageTitle>

<Form></Form>

